<<<<<<< HEAD
{% extends '@BonPlan/Default/indexback.html.twig' %}

{% block body %}

{% endblock %}

{% block javascript %}

{% endblock %}

=======
{{ form_start(edit_form) }}
<div class="modal-body">
        <div class="form-group">
            {{ form_row(edit_form.nomCategorie, {'label':"Nom Catégorie" ,'attr': {'class': 'form-control border-input'}}) }}
        </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
    <button type="submit" class="btn btn-warning" data-dismiss="modal">Modifier</button>
    {{ form_row(edit_form._token) }}
</div>
{{ form_end(edit_form) }}
>>>>>>> b820972144c8f32a32d404d0bb685d1561150cce
