<<<<<<< HEAD
{% extends '@BonPlan/Default/index.html.twig' %}
{% block body %}

<center>

            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- contact page -->
<div class="contact-w3l">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">Reclamer
            <span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
        </h3>
        <!-- //tittle heading -->
        <!-- contact -->
        <div class="contact agileits">
            <div class="contact-agileinfo">
                <div class="contact-form ">
                    <form method="post" style="height: 1200px ;width: 1200px; color: #f3f4f7 ">
                        <div class="form-horizontal" >
                            <input type="text" name="type" placeholder="Type" required="" height="2400px" width="2400px" >
                        </div>
                        <div class="">
                            <input class="text" type="text" name="nivRec" placeholder="Niveau de reclamation" required="" maxlength="20">
                        </div>

                        <div class="">
                            <textarea placeholder="Description" type="text" name="description" required=""></textarea>
                        </div>
                        <input type="submit" value="Reclamer">
                    </form>
                </div>



</div>
        </div>
    </div>
</div>

</center>

{% endblock %}
=======

{% extends '@BonPlan/Default/index.html.twig' %}
{% block body %}
    <br>
    <br>
    <br>

    <body style="background-size: 100% 100%;background-image: url({{ asset('images/slider.jpg') }}) ;">
    <center>
        <div class="col-lg-8 col-md-7">
            <div class="header">
                <h3 class="title" style="color: indianred">Reclamation </h3>
            </div>
            <br>

            <br>
            <center >
                <form method="post" style="height: 500px ; color: #f3f4f7 ">
                    Type:<input type="text" name="type"> </input>
                    Niveau de reclamation:   <input type="text" name="nivRec"> </input>
                    Description:   <textarea type="text" name="description"> </textarea>

                    <input type="submit" value="submit"> </input>
                </form>
            </center>
        </div>
        </div>
    </center>
    </body>
{% endblock %}
>>>>>>> 98c1bff408d5bf6b674b2043121740432770b49e
