{% extends '@BonPlan/Default/index.html.twig' %}
{% block body %}

<center>

            </ul>
        </div>
    </div>
</div>
    <br>
<!-- //page -->
<!-- contact page -->
<div class="contact-w3l">
    <div class="container">
        <!-- tittle heading -->

        <h3 class="tittle-w3l" style="color: red ">Reclamer Plan
            <span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
        </h3>
        <!-- //tittle heading -->
        <!-- contact -->
        <div class="contact agileits">
            <div class="contact-agileinfo">
                <div class="contact-form wthree">
                    <form method="post" style="height: 500px ; color: #f3f4f7 ">
                        <div class="">
                            <input type="text" name="type" placeholder="Type" required=""  size="100">
                        </div><br><br>
                        <div class="">
                            <input class="text" type="text" name="nivRec" placeholder="Niveau de reclamation" required=""size="80">
                        </div><br><br>

                        <div class="">
                            <textarea placeholder="Description" type="text" name="description" required="" rows="5" cols="50"></textarea>
                        </div><br><br>
                        <input type="submit" value="Reclamer" size="30">


                    </form>
                </div>



</div>
        </div>
    </div>
</div>

</center>

{% endblock %}
