{% extends '@BonPlan/Default/index.html.twig' %}
{% block body %}

<center>

            </ul>
        </div>
    </div>
</div>
<<<<<<< HEAD
    <br>
=======
>>>>>>> 1c4d0f271342a3deebb8766ad8e9dbb8d20e4b6e
<!-- //page -->
<!-- contact page -->
<div class="contact-w3l">
    <div class="container">
        <!-- tittle heading -->
<<<<<<< HEAD
        <h3 class="tittle-w3l" style="color: red ">Reclamer le Site
=======
        <h3 class="tittle-w3l">Reclamer le Site
>>>>>>> 1c4d0f271342a3deebb8766ad8e9dbb8d20e4b6e
            <span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
<<<<<<< HEAD
        </h3><br>
=======
        </h3>
>>>>>>> 1c4d0f271342a3deebb8766ad8e9dbb8d20e4b6e
        <!-- //tittle heading -->
        <!-- contact -->
        <div class="contact agileits">
            <div class="contact-agileinfo">
                <div class="contact-form wthree">
<<<<<<< HEAD
                    <form method="post" style="height: 500px ; color: #f3f4f7" >
                        <div class="" >
                            <input type="text" name="type" placeholder="Type" required=""  size="100" >
                        </div><br><br>
                        <div class="">
                            <input class="text" type="text" name="nivRec" placeholder="Niveau de reclamation" required=""size="80">
                        </div><br><br>

                        <div class="">
                            <textarea placeholder="Description" type="text" name="description" required="" rows="5" cols="50"></textarea>
                        </div><br><br>
                        <input type="submit" value="Reclamer" size="30">


=======
                    <form method="post" style="height: 500px ; color: #f3f4f7 ">
                        <div class="">
                            <input type="text" name="type" placeholder="Type" required="" height="1200px" >
                        </div>
                        <div class="">
                            <input class="text" type="text" name="nivRec" placeholder="Niveau de reclamation" required="">
                        </div>

                        <div class="">
                            <textarea placeholder="Description" type="text" name="description" required=""></textarea>
                        </div>
                        <input type="submit" value="Reclamer">
>>>>>>> 1c4d0f271342a3deebb8766ad8e9dbb8d20e4b6e
                    </form>
                </div>



</div>
        </div>
    </div>
</div>

</center>

{% endblock %}
