{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
<p  class="text-white">
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}
