<body>

<img src="{{ asset('images/logo.png') }}">
 <center>
    <h1 style="color: #bd2130"><span>Convention de partenariat</span></h1></center>

<br>
<h3 style="color: #0c5460">ENTRE :</h3>

<h3>
    Le plateforme "Haya win "</h3>
<h3>
    Representee par M___________________________________________________________ , President</h3>
<br>

<h3 style="color: #0c5460"> ET :</h3>
<h3>
{% for p in plan %}
    Entreprise : {{ p.nomPlan }}
    <br>  <br>
    Adresse : {{ p.adresse }}
    <br>  <br>
    Tel :{{ p.telephone }}
    <br>  <br>
    Fax :_______________________________________________________
    <br>  <br>
    Courriel :_____________________________________________________
    <br>  <br>
    Nom du signataire :_____________________________________________</h3>
<br>
{% endfor %}
</body>
</body>