<body>

<img src="{{ asset('images/logo.png') }}">
<h5 > Convention de partenariat
</h5>
<h3>ENTRE :
   Le plateforme "Haya win "
    Representee par M. ...... , President</h3>
<h3 >
    {% for p in user %}
    Et
    L’entreprise : {{ p.userPlan.username }}
    Adresse : {{ p.userPlan.telephone }}
    Tel :{{ p.userPlan.adresse }}
    Fax :_______________________________________________________
    Courriel :_____________________________________________________
    Nom du signataire :_____________________________________________</h3>
{% endfor %}

</body>